.barra {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: black;
    color: aliceblue;
}

.elementoNav{
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    width: 38%;
    margin: 0 10px;
}

.botonAdd {
    margin-left: 10px;
    padding:8px;
    width: auto;
    height: 100%;
    color: white;
    font-size: 1.1rem;
    font-weight: bolder;
    Font-family: "Roboto", arial;
    border: 2px black;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
}

.botonAdd:hover{
    background-color: rgb(216, 130, 17);
}

.elementoNavSearch{
    display: flex;
    align-items: center;
    width: 60%;
}